/**
 * General formatting, positioning, paddings, margins
*/

html {
    font-size: 10px;
    color: #333;
}

.intro,
.main {
    text-align: right;
    margin: 0 30%;
}

.intro {
    margin-top: 15%;
}

.summary,
.preamble,
.supporting {
    font-size: 1.8em;
}

.summary {
    text-transform: uppercase;    
}

h1,
h2 {
    font-size: 0;
}

.preamble > h3,
.explanation > h3,
.participation > h3,
.benefits > h3,
.requirements > h3 {
    padding-left: 110%;
    text-align: left;
    margin-top: 14%;
    margin-right: -38%;
    font-size: 0;
}

h3 + p {
    margin-top: -4%;
}

p {
    margin-bottom: 35px;
    font-size: 1.95rem;
    line-height: 1.5em;
}

p:nth-last-child(1) {
    margin-bottom: 100px;
}

abbr {
    text-transform: uppercase;
    font-size: 0.9em;
}

footer {
    font-size: 0.7em;
}

footer > a {
    margin-left: 1em;
}

@media (max-width: 700px) {    
    .intro {
       margin: 5% 4%;
       text-align: initial;
    }

    .main {
        margin: 0 4%;
        text-align: initial;
    }

    h2 {
        margin-bottom: 12rem;
    }

    .main h3 {
        margin-top: 9%;
    }

    h3 {
        padding-left: initial;
        margin: 2% 0;
        margin-right: initial;
        font-size: 0;
    }

    h3 + p{
        margin-top: auto;
    }

    p:nth-last-child(1) {
        margin-bottom: 4%;
    }
    
    footer > a {
        margin-left: auto;
        margin-right: 1em;
    }
}


/**
 * Background
*/

body {
    background: #e8ecf0 url(i/denim2.png) no-repeat fixed 90% 80%;
}

body::after {
    position: fixed;
    left: 8%;
    top: 4%;
    content: "ST. 003";
    font-size: 50rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    -webkit-mask-image: url(i/denim-mask2.png);
    opacity: 0.15;
    line-height: 53rem;
    pointer-events: none;   /* needed so that pseudo element wouldn't block the contents from being interacted with */
}

@media (max-width: 700px) {
    body {
        background: #e8ecf0 url(i/denim2.png) no-repeat;
        }
    
    body::after {
        display: none;
    }
}

/**
 * Main header section, text replacement, section seperator
*/

h1::before { 
    content: "MADE LOCALLY";    
    color: rgba(0.3, 0.3, 0.3, 0.3)  
    font-size: 1.8rem;
    font-weight: 300;
}

h2 {
    margin-bottom: 10rem;
}  

h2::before {
    content: "CSS ZEN GARMENTS";
    color: #182e4f;
    font-size: 4.2rem;
    font-weight: 900;
}

h2::after {
    display: inline-block;
    width: 8em;
    position: absolute;
    left: 75%;
    content: "IMPECCABLE QUALITY";
    font-size: 1.85rem;
    font-weight: 900;
    color: #182e4f90;
    text-align: left;
}

.summary::after {
    content: url(i/sep.png);
}

@media (max-width: 700px) {    
    h1::before {   
        position: absolute;
        top: 24%;
    }

    h2::before {
        font-size: 4.2rem;
        min-width: 100%;
    }

    h2::after {
        display: none;
    }

    .summary::after {
        display: inline-block;
        position: relative;
        transform: scaleX(0.96);
        right: 2%;
    }
}

/**
 * Header menu with icons and download links
*/

.summary > p:nth-child(2) {
    font-size: 2rem;
    color: transparent;
    user-select: none;
}

.summary > p:nth-child(2)::before {
    content: "";
    display: inline-block;
    background: url(s/czg.svg);
    margin-top: 0%;
    background-position-x: -160px;
    width: 31px;
    height: 31px;
    
}

.summary > p > a {
    font-size: 0.8em;
    color: transparent;
    position: absolute;
    -webkit-transition: none;
}

.summary > p > a:nth-child(1) {
    right: 36%;
}

.summary > p > a:nth-child(2) {
    right: 30%;
}

.summary > p > a::after {
    border: none;   /*to turn off link underline animation*/
}

.summary > p > a:nth-child(1)::before {
    content: "";
    display: inline-block;
    background: url(s/czg.svg);
    background-position-x: -277px;
    width: 35px;
    height: 31px;
    position: absolute;
    right: 155%;
    bottom: -2px;
    pointer-events: none;   /*needed so that hover effect on anchor wouldn't trigger*/
}

.summary > p > a:nth-child(1)::after {
    content: "";
    display: inline-block;
    background: url(s/czg.svg);
    background-position-x: -397px;
    background-position-y: -90px;
    width: 35px;
    height: 31px;
    position: absolute;
    left: 1.5em;
    bottom: -2px;
}

.summary > p > a:nth-child(2)::after {
    content: "";
    display: inline-block;
    background: url(s/czg.svg);
    background-position-x: -512px;
    background-position-y: -90px;
    width: 48px;
    height: 31px;
    position: absolute;
    left: 1.5em;
    bottom: -2px;
}

.summary > p > a:hover {
    color: #333;
}

.summary > p > a:nth-child(1):hover::after {
    display: none;
}

.summary > p > a:nth-child(2):hover::after {
    display: none;
}

@media (max-width: 700px) {    
    .summary > p:nth-child(2),
    .summary > p > a {
        color: #333;
        font-size: 2rem;
        position: initial;
        user-select: auto;
    }

    .summary > p:nth-child(2)::before,
    .summary > p > a:nth-child(1)::before,
    .summary > p > a:nth-child(1)::after,
    .summary > p > a:nth-child(2)::after {
        display: none;
    }   
}

/**
 * Body text headers
*/

h3::before {
    font-size: 1.6rem;
    color: #182e4f;
    text-transform: uppercase;
    word-wrap: normal;
}

.preamble > h3::before {
    content: "a fashion-forward future";
}

.explanation > h3::before {
    content: "see yourself in a different way";
}

.participation > h3::before {
    content: "get into a brand new pair";
}

.benefits > h3::before {
    content: "look great... and feel great too!";
}

.requirements > h3::before {
    content: "\"one size fits\" all be damn!";
}

@media (max-width: 700px) {
    h3::before {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

/**
 * Link anchors and animation
*/

a:link {
    color: #a28351;
    text-decoration: none;
    position: relative;
    transition: color 0.4s linear;
}


a::after {
    content: "";
    border-top: 0.1em solid #a2835100;
    position: absolute; 
    left: 0;
    right: 0;
    bottom: -0.25em;
    transition: bottom 0.4s linear,
                border-top 0.4s linear;
}

a:hover {
    color: black;
}

a:hover::after {
    border-top: 0.1em solid #a28351;
    bottom: -0.1em;
}

a:focus {
    color: black;
}

a:focus::after {
    border-top: 0.1em solid #a28351;
    bottom: -0.1em;
}

/*****************************************
Design Selection Section
*****************************************/

.design-selection {
  position: absolute;
  top: 27em;
  left: 6em;
}

.design-selection h3 {
  visibility: hidden;
}

.design-selection h3::after {
  content: "washes & \Astyles";
  white-space: pre;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  visibility: visible;
  background: no-repeat url("i/waves.png") 0 90%;
  padding-bottom: 2.2em;
}

.design-selection ul {
  list-style-type: none;
  padding: 0;
}

.design-selection li {
  font-size: 1.1em;
  margin: 2.5em 0;
}

.design-selection li > a:nth-child(1) {
  display: block;
  text-transform: uppercase;
  font-size: 1.35em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.design-selection li > a:nth-child(1)::after {
  display: none;
}

.design-selection li > a:nth-child(1):hover {
  font-style: italic;
}

.design-selection li > a:nth-child(2) {
  color: #7989a3;
}

.design-selection li > a:nth-child(2):hover {
  color: #000000;
}

/*****************************************
Design Archives Section
*****************************************/

.design-archives {
  position: absolute;
  top: 90em;
  left: 6em;
}

.design-archives ul {
  list-style: none;
  padding: 0 0;
}

.design-archives ul > li {
  display: inline-block;
}

.design-archives ul > li:nth-child(1) {
  margin-right: 3em;
}

.design-archives a {
  font-size: 0;
  display: block;
}

.archives {
  display: none;
}

.next a {
  background: url("s/czg.svg") no-repeat 10px -56px;
  width: 43px;
  height: 37px;
  margin-right: 2em;
}

.next a:hover {
  background-position: 10px -138px;
}

.viewall a {
  background: url("s/czg.svg") no-repeat -56px -55px;
  width: 39px;
  height: 39px;
  margin-right: -2em;
}

.viewall a:hover {
  background-position: -56px -137px;
}

/*****************************************
Zen Resources Section
*****************************************/

.zen-resources {
  margin: 6% auto;
  width: 550px;
}

/* Tiny horizontall divider */

.zen-resources::before {
  content: "";
  background-color: #d5d9dc;
  display: block;
  margin: 0 auto 2em;
  width: 8em;
  height: 0.4em;
}

.zen-resources ul {
  list-style-type: none;
  padding: 0;
}

/* Align list items horizontally */

.zen-resources ul > li {
  display: inline-block;
  margin-left: 4em;
}

.zen-resources a {
  font-size: 0;
  display: block;
  width: 60px;
  height: 60px;
}

/* Hide default text */

.resources {
  display: none;
}

/* Set icon images for all the links, and the corresponding hover icon*/

.view-css > a,
.css-resources > a,
.zen-faq > a,
.zen-submit > a,
.zen-translations > a {
  background: url("s/czg.svg") no-repeat;
}

.view-css > a {
  background-position: -502px 12px;
}

.view-css > a:hover {
  background-position: -502px -78px;
}

.css-resources > a {
  background-position: -150px -194px;
}

.css-resources > a:hover {
  background-position: -150px -286px;
}

.zen-faq > a {
  background-position: -265px -192px;
}

.zen-faq > a:hover {
  background-position: -265px -284px;
}

.zen-submit > a {
  background-position: -502px -194px;
}

.zen-submit > a:hover {
  background-position: -502px -286px;
}

.zen-translations > a {
  background-position: -380px -193px;
}

.zen-translations > a:hover {
  background-position: -380px -285px;
}
